<!--<%= render 'posts/user_info' %>-->

<!--<div class="head-b"><%= image_tag("code_school.png", :alt => "siema", :size => "280x45")%></div>-->

<%= render 'posts/nav' %>
<div class='post-bg'>
  <img src='/images/post-bg1.jpg'>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class='featurette'>
      <div class="post-w-margin">
        <div class="info">
          <small class='right-pull'>Category: <%= post.category %> </small><small class='left-pull'>Created on: <%= post.created_at %></small>
        </div>
        <h2 class="lead"><%= link_to post.title, post_path(post) %></h2>
        <% if post.text.split(" ").length <= 20 %>
          <p class="post-text"> <%= post.text %> </p>  
        <% else %>
          <p class="post-text"> <%= post.text.split(" ")[0..19].join(" ") + "..." %></p>
        <% end %>
        <small class='right-pull'>
          <%= link_to 'Show', post_path(post) %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <% if current_user.email==post.email or current_user.admin? %>
            <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </small>
      </div>
      <hr class="featurette-divider">
    </div>
  <% end %>
</div>