<%= render 'posts/nav' %>

<div class='post-bg'>
  <img src='/images/post-bg1.jpg'>
</div>

<div class="jumbotron-outer">
	<div class="jumbotron">
		<p><%= @post.email %> wrote:<br></p>

		<h2><%= @post.title %></h2>
		<p><%= @post.text_break %> </p>
		<div class="pull-right"><%= link_to "Back", posts_path %>
		| <%= link_to 'Edit', edit_post_path(@post) %></div>
	</div>

	<div class="comment_header">
		<h2 class="comm-head"> Comments </h2>
		<p class="comm-count">
			Number of comments: 
			<%= @post.comments.count %>
		</p>
	</div>

	<%= render @post.comments.decorate %>

	<div class="comm-add">
		<h2>Add a comment:</h2>
		<%= render 'comments/form' %>
	</div>
</div>